/* # TriviaGame
* You'll create a trivia game that shows only one question until the player answers it or their time runs out.  * If the player selects the correct answer, show a screen congratulating them for choosing the right option. After a few seconds, display the next question -- do this without user input.  * The scenario is similar for wrong answers and time-outs.    * If the player runs out of time, tell the player that time's up and display the correct answer. Wait a few seconds, then show the next question.   * If the player chooses the wrong answer, tell the player they selected the wrong option and then display the correct answer. Wait a few seconds, then show the next question.  * On the final screen, show the number of correct answers, incorrect answers, and an option to restart the game (without reloading the page). */


/* do text align probly */

#subwrapper {
    background-color: rgb(238, 239, 240);
    margin-left: 10%;
    margin-right: 7%;
    padding: 2%;
}



body {
    text-align: center;
    font-size: 200%;
    background: linear-gradient(to right, rgb(21, 228, 45) , rgb(154, 154, 105));
    background-image: url('../images/moneystacks.png');
    /* background-repeat: width: 100%; */
}

img {
    width: 100%;
}
header {
    background-color: darkgray;
    font-size: 150%;
}

h1 {
    font-size: 110%;
    font-weight: bold;
    
}

p {
    /* display: none; */
    line-height: 1.3em;
    text-align: left;
    font-size: 60%;
    /* font-weight: bold; */
    
}

.answers {
    font-size: 60%;
}

h2 {
    font-size: 70%;
    font-style: underline;
    
}

footer {
    font-size: 65%;
    background-color: gray;
    padding: 10px;
}
/* play game at : https://dvdkrstndnls.github.io/TriviaGame/ */
